<!doctype html>
<html>
  <head>
    <title>Live Chat</title>
    <meta name="htmx-config" content='{"responseTargetUnsetsError": false}' />

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script src="/static/hx-response-targets.js"></script>
    <script src="/static/hx-response-swap.js"></script>
    {{ template "sidebar/script" }}
    <link rel="stylesheet" href="/static/output.css" />
  </head>

  <body
    hx-ext="ws, response-targets, response-swap"
    class="text-black dark:text-white"
  >
    <div id="ws-connector" ws-connect="{{ .WsUrl }}"></div>
    <div class="flex flex-row h-screen dark:bg-neutral-800">
      <!-- prettier-ignore -->
      {{ template "sidebar" .Sidebar }}
      <div
        class="flex-1 flex flex-col justify-between items-center h-full pt-3"
      >
        <nav class="flex flex-row justify-between w-full px-3 pb-3">
          <div class="w-10 h-10"></div>
          <div>
            <h1 class="text-3xl font-bold">WIP</h1>
          </div>
          <div
            hx-post="/logout"
            title="Logout"
            class="pl-3 pr-2 py-1 bg-neutral-200 dark:bg-neutral-700 cursor-pointer rounded-xl flex justify-center align-center"
          >
            <button class="cursor-pointer">
              <svg
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M14 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h9" />
                <path d="M19 12H9m5-5l5 5-5 5" />
              </svg>
            </button>
          </div>
        </nav>
        {{ template "room/chat-content" . }}
        <div class="flex justify-center items-center w-full px-10">
          {{ template "room/send-box" . }}
        </div>
      </div>
    </div>
  </body>
</html>

<!-- prettier-ignore -->
{{ define "room/post-response" }}
  {{ template "sidebar/room-btn" . }}
{{ end }}

<!-- prettier-ignore -->
{{ define "room/switch-room" }}
{{ template "room/chat-content" .ChatContent }}
{{ template "room/send-box" . }}
<div
  id="ws-connector"
  hx-swap-oob="true"
  ws-connect="/rooms/{{ .RoomName }}/messages/ws"
></div>
<!-- prettier-ignore -->
{{ end }}

<!-- prettier-ignore -->
{{ define "room/chat-content" }}
<div
  id="chat-content"
  class="flex-1 flex flex-col-reverse w-full gap-1 px-10 py-5 overflow-y-auto scrollbar-thin dark:scrollbar-thumb-neutral-700 dark:scrollbar-track-neutral-800"
>
  {{ template "room/message-list" . }}
</div>
<!-- prettier-ignore -->
{{ end }}

{{ define "room/message-list" }}
<!-- prettier-ignore -->
{{ range .Messages }}
    {{ template "room/message" . }}
  {{ end }}
  {{ if not .Done }}
<span
  hx-trigger="intersect once"
  hx-get="/rooms/{{ .RoomName }}/messages?start={{ .NextStart }}&count=20"
  hx-target="this"
  hx-swap="outerHTML"
></span>
<!-- prettier-ignore -->
{{ end }}
{{ end }}

<!-- prettier-ignore -->
{{ define "room/message" }}
<div
  class="{{ if .IsOwn }}justify-end rounded-r-lg{{ else }}rounded-l-lg{{ end }} flex hover:bg-neutral-300 hover:dark:bg-neutral-600"
>
  <p
    class="w-max text-lg px-4 py-2 rounded-lg bg-neutral-200 dark:bg-neutral-700"
  >
    <!-- prettier-ignore -->
    {{ if not .IsOwn }}
    <span class="text-neutral-400">{{ .UserName }}:&nbsp;</span>
    <!-- prettier-ignore -->
    {{ end }}
    <span class="whitespace-pre-wrap">{{ .Content }}</span>
  </p>
</div>
<!-- prettier-ignore -->
{{ end }}

<!-- prettier-ignore -->
{{ define "room/ws-message" }}
<div id="chat-content" hx-swap-oob="afterbegin">
  {{ template "room/message" . }}
</div>
<!-- prettier-ignore -->
{{ end }}

{{ define "room/send-box" }}
<div
  id="send-box"
  hx-swap-oob="true"
  class="flex flex-col mb-20 w-full lg:w-[38rem] h-32 rounded-xl bg-neutral-200 dark:bg-neutral-700"
>
  <form
    hx-post="/rooms/{{ .RoomName }}/messages"
    hx-trigger="click from:#send-btn"
    hx-target="#chat-content"
    hx-swap="beforeend"
    hx-on::after-request="if (event.detail.successful) { this.reset() }"
  >
    <textarea
      name="message-content"
      class="flex-1 w-full p-2 rounded-t-xl resize-none focus:outline-none bg-neutral-200 dark:bg-neutral-700"
      placeholder="Type a message..."
    ></textarea>
  </form>
  <div class="flex flex-row gap-1 w-full justify-end p-2">
    <div
      class="w-10 h-10 rounded-full bg-black dark:bg-neutral-300 text-neutral-800 text-white dark:text-black cursor-pointer"
    >
      <button
        class="flex justify-center items-center w-full h-full cursor-pointer"
      >
        <svg
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="currentColor"
          stroke-width="2"
        >
          <circle cx="12" cy="7" r="4" />
          <g stroke-linecap="butt">
            <path d="M6 20v-1a6 6 0 0 1 12 0v1" />
          </g>
          <g stroke-linecap="round">
            <line x1="20" y1="8" x2="20" y2="14" />
            <line x1="17" y1="11" x2="23" y2="11" />
          </g>
        </svg>
      </button>
    </div>
    <div
      class="w-10 h-10 rounded-full bg-black dark:bg-neutral-300 text-white dark:text-neutral-800 cursor-pointer"
    >
      <button
        id="send-btn"
        class="-rotate-90 translate-x-[.22rem] translate-y-[.1rem] text-3xl cursor-pointer"
      >
        &#x279c;
      </button>
    </div>
  </div>
</div>
<!-- prettier-ignore -->
{{ end }}
