<!-- prettier-ignore -->
{{ define "sidebar/script" }}
<script>
  function toggleNav(elem) {
    const nav = document.getElementById("sidebar");
    if (nav.getAttribute("open") != null) {
      nav.style.marginLeft = -1 * nav.offsetWidth + "px";
      elem.style.translate = "0 0";
      elem.children[0].textContent = "›";
      nav.removeAttribute("open");
    } else {
      nav.style.marginLeft = "0";
      elem.style.translate = "-4.5rem 0";
      elem.children[0].textContent = "‹";
      nav.setAttribute("open", "");
    }
  }
</script>
{{ end }}

<!-- prettier-ignore -->
{{ define "sidebar" }}
<nav
  id="sidebar"
  open
  class="hidden md:flex flex-col w-64 h-full bg-neutral-100 dark:bg-neutral-900 transition-all ease-in-out pt-3"
>
  <div
    class="w-full h-min mt-1 mb-2 flex justify-around items-center overflow-x-visible"
  >
    <div class="w-10 h-10"></div>
    <h2 class="w-min text-2xl font-bold">
      <a class="no-underline cursor-pointer text-white" href="/rooms">Rooms</a>
    </h2>
    <div class="w-10 h-10"></div>
  </div>

  <ul
    class="w-full flex-1 flex flex-col gap-1 px-2 overflow-y-auto scrollbar-thin scrollbar-thumb-neutral-700 scrollbar-track-neutral-900"
  >
    <li
      class="w-full px-4 py-1 rounded-2xl bg-neutral-50 dark:bg-neutral-700 hover:bg-neutral-200 dark:hover:bg-neutral-800 border-2 border-neutral-200 dark:border-neutral-800"
    >
      <form
        hx-post="/rooms"
        hx-target="closest ul"
        hx-swap="beforeend"
        hx-target-error="#new-room-status"
        hx-swap-error="outerHTML"
        hx-on::after-request="if (event.detail.successful) { this.reset() }"
        class="flex flex-row justify-between"
      >
        <input
          type="text"
          name="room-name"
          placeholder="New room"
          class="flex-1 min-w-0 bg-transparent focus:outline-none"
        />
        <div
          class="flex justify-center items-center w-[1.5rem] h-[1.5rem] rounded-full hover:bg-neutral-300 dark:hover:bg-neutral-700 text-2xl"
        >
          <button type="submit" class="-translate-y-[2px]">&#xff0b;</button>
        </div>
      </form>
      <p id="new-room-status" class="hidden"></p>
    </li>
    <!-- prettier-ignore -->
    {{ range . }} 
      {{ template "sidebar/room-btn" . }} 
    {{ end }}
  </ul>
</nav>
<div class="relative w-0 h-0">
  <div
    style="translate: -4.5rem 0"
    class="absolute top-[1rem] left-[1rem] transition-all w-10 h-10 rounded-xl bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-700 cursor-pointer text-4xl text-center"
  >
    <button
      class="cursor-pointer w-full h-full translate-y-[-.25rem]"
      onclick="toggleNav(this.parentElement)"
    >
      &lsaquo;
    </button>
  </div>
</div>
<!-- prettier-ignore -->
{{ end }}

{{ define "sidebar/room-btn" }}
  {{ template "sidebar/room-btn-full" . }}
{{ end }}

{{ define "sidebar/clear-new-room-status" }}
<p id="new-room-status" hx-swap-oob="true" class="hidden"></p>
<!-- prettier-ignore -->
{{ end }} 

{{ define "sidebar/new-room-error" }}
<p id="new-room-status" class="text-red-600 font-extrabold">{{ . }}</p>
<!-- prettier-ignore -->
{{ end }}

{{ define "sidebar/room-btn-full" }}
<!-- prettier-ignore -->
<li
  hx-get="/rooms/{{ .RoomName }}/messages?start=0&count=40&initial=true"
  hx-push-url="/rooms/{{ .RoomName }}"
  hx-target="#chat-content"
  hx-swap="outerHTML"
  hx-on::after-request="document.querySelectorAll('.selected').forEach(elt => elt.classList.remove('selected')); this.classList.add('selected')"
  class="{{ if .Selected }}selected {{ end }}bg-neutral-50 dark:bg-neutral-700 hover:bg-neutral-200 dark:hover:bg-neutral-800 w-full px-4 py-1 rounded-2xl flex flex-row justify-between cursor-pointer border-2 border-neutral-200 dark:border-neutral-800"
>
  <span class="select-none">{{ .RoomName }}</span>
  <div
    class="w-[1.5rem] h-[1.5rem] rounded-full hover:bg-neutral-300 dark:hover:bg-neutral-700 text-md text-center"
  >
    <button class="select-none">&#xfe19;</button>
  </div>
</li>
<!-- prettier-ignore -->
{{ end }}
